#jinja2: keep_trailing_newline: True
{% if mkinitcpio_luks %}rd.luks.name={{ ansible_facts.devices[mkinitcpio_luks_root_device].partitions[mkinitcpio_luks_root_partition].uuid }}=root rd.luks.options=discard root=/dev/mapper/root {% endif %}{{ mkinitcpio_kernel_cmdline }}
