#jinja2: keep_trailing_newline: True
# mkinitcpio preset file for the '{{ mkinitcpio_preset_name }}' package

#ALL_config="/etc/mkinitcpio.conf"
ALL_kver="/var/cache/boot/vmlinuz-{{ mkinitcpio_preset_name }}"
#ALL_kerneldest="/boot/vmlinuz-{{ mkinitcpio_preset_name }}"

PRESETS=('default')
#PRESETS=('default' 'fallback')

#default_config="/etc/mkinitcpio.conf"
#default_image="/boot/initramfs-{{ mkinitcpio_preset_name }}.img"
default_uki="/boot/EFI/Linux/arch-{{ mkinitcpio_preset_name }}.efi"
#default_options="--splash /usr/share/systemd/bootctl/splash-arch.bmp"

#fallback_config="/etc/mkinitcpio.conf"
#fallback_image="/boot/initramfs-{{ mkinitcpio_preset_name }}-fallback.img"
fallback_uki="/boot/EFI/Linux/arch-{{ mkinitcpio_preset_name }}-fallback.efi"
fallback_options="-S autodetect"
